<section class="credit-card">
  <div
    class="credit-card__visual"
    [ngClass]="{
      'credit-card__visa animated fadeIn':
        creditCardForm.get('cardNumber').value &&
        creditCardForm.get('cardNumber').value.toString().startsWith('4'),
      'credit-card__master animated fadeIn':
        creditCardForm.get('cardNumber').value &&
        creditCardForm.get('cardNumber').value.toString().startsWith('5'),
      'credit-card__amex animated fadeIn':
        creditCardForm.get('cardNumber').value &&
        creditCardForm.get('cardNumber').value.toString().startsWith('3'),
      'credit-card__discover animated fadeIn': setCreditCardBackground()
    }"
  >
    <div
      *ngIf="creditCardForm.get('cardNumber').value"
      class="credit-card__visual-type"
    >
      <fa-icon class="animated fadeIn" [icon]="creditCardType"></fa-icon>
    </div>
  </div>
  <form
    class="credit-card__form"
    [formGroup]="creditCardForm"
    autocomplete="off"
  >
    <div class="credit-card__form-group">
      <label for="cardNumber" class="credit-card__form-label"
        >Card Number
        <input
          type="text"
          formControlName="cardNumber"
          id="cardNumber"
          class="credit-card__form-input"
          only-numbers
          string-separated-each-four-characters
          maxlength="19"
          autofocus
        />
      </label>
      <app-form-error *ngIf="cardNumberNoValid"></app-form-error>
    </div>

    <div class="credit-card__form-group">
      <label for="cardHolder" class="credit-card__form-label"
        >Card Holder
        <input
          type="text"
          formControlName="cardHolder"
          id="cardHolder"
          only-letters
          class="credit-card__form-input"
          maxlength="30"
          [disabled]="
            isDisabled(
              creditCardForm.get('cardNumber').value.toString().length > 12,
              'cardHolder'
            )
          "
        />
      </label>
      <app-form-error *ngIf="cardHolderNoValid"></app-form-error>
    </div>

    <div class="credit-card__form-group">
      <label for="cardExpirationYear" class="credit-card__form-label"
        >Expiration Year
        <select
          name="cardExpirationYear"
          id="cardExpirationYear"
          formControlName="cardExpirationYear"
          class="credit-card__form-input"
          [disabled]="
            isDisabled(
              creditCardForm.get('cardHolder').value.toString().length > 6,
              'cardExpirationYear'
            )
          "
        >
          <option *ngFor="let year of expirationYears" [value]="year">
            {{ year }}
          </option>
        </select>
      </label>
      <app-form-error *ngIf="cardExpirationYearNoValid"></app-form-error>
    </div>

    <div class="credit-card__form-group">
      <label for="cardExpirationMonth" class="credit-card__form-label"
        >Expiration Month
        <select
          name="cardExpirationMonth"
          id="cardExpirationMonth"
          formControlName="cardExpirationMonth"
          class="credit-card__form-input"
          [disabled]="
            isDisabled(
              creditCardForm.get('cardExpirationYear').value,
              'cardExpirationMonth'
            )
          "
        >
          <option *ngFor="let month of expirationMonths" [value]="month.value">
            {{ month.name }}
          </option>
        </select>
      </label>
      <app-form-error *ngIf="cardExpirationMonthNoValid"></app-form-error>
    </div>

    <div class="credit-card__form-group">
      <label for="cardCCV" class="credit-card__form-label"
        >CCV
        <input
          type="number"
          formControlName="cardCCV"
          id="cardCCV"
          class="credit-card__form-input"
          max="3"
          [disabled]="
            isDisabled(
              creditCardForm.get('cardExpirationMonth').value,
              'cardCCV'
            )
          "
        />
      </label>
      <app-form-error *ngIf="cardCCVNoValid"></app-form-error>
    </div>
  </form>
</section>
