@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.credit-card {
  padding: 1rem;
  &__visual {
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 3px 4px 9px 5px rgba(0, 0, 0, 0.62);
    height: 250px;
    max-width: 400px;
    position: relative;
    width: 100%;

    &-type {
      color: #fff;
      font-size: 2.5rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

    &-number {
      bottom: 40%;
      color: #fff;
      font-family: "Inconsolata", monospace;
      font-size: 1.5rem;
      left: 10%;
      position: absolute;
    }

    &-holder {
      bottom: 30%;
      color: #fff;
      font-family: "Inconsolata", monospace;
      font-size: 1.3rem;
      left: 10%;
      position: absolute;
      text-transform: uppercase;
    }

    &-year {
      bottom: 20%;
      color: #fff;
      font-family: "Inconsolata", monospace;
      font-size: 1.25rem;
      left: 10%;
      position: absolute;
      text-transform: uppercase;
    }

    &-month {
      bottom: 20%;
      color: #fff;
      font-family: "Inconsolata", monospace;
      font-size: 1.25rem;
      left: 30%;
      position: absolute;
      text-transform: uppercase;
    }

    &-security-band {
      background-color: #000;
      height: 50px;
      position: absolute;
      top: 3rem;
      width: 100%;
    }

    &-ccv-section {
      display: flex;
      flex-direction: row-reverse;
      left: 0;
      margin-top: 7rem;
      justify-content: space-evenly;
      position: absolute;
      right: 0;
    }

    &-holder-band {
      align-items: center;
      background-color: #fff;
      border-radius: 15px;
      display: flex;
      height: 50px;
      justify-content: flex-end;
      margin: 0;
      padding-right: 0.5rem;
      transform: rotateY(180deg);
      width: 50%;
    }

    &-ccv {
      align-items: center;
      background-color: #fff;
      border-radius: 15px;
      display: flex;
      height: 50px;
      justify-content: center;
      margin: 0;
      transform: rotateY(180deg);
      width: 20%;
    }
  }
  &__visa {
    background: url("https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
      no-repeat center center;
    background-size: cover;
    transition: all 1s ease-in-out;
  }

  &__master {
    background: url("https://images.pexels.com/photos/257092/pexels-photo-257092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
      no-repeat center center;
    background-size: cover;
    transition: all 1s ease-in-out;
  }

  &__amex {
    background: url("https://images.pexels.com/photos/4045714/pexels-photo-4045714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
      no-repeat center center;
    background-size: cover;
    transition: all 1s ease-in-out;
  }

  &__discover {
    background: url("https://images.pexels.com/photos/773583/pexels-photo-773583.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
      no-repeat center center;
    background-size: cover;
    transition: all 1s ease-in-out;
  }

  &__form {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Inconsolata", monospace;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem;
    &-group {
      padding: 0.5rem 1rem;
      width: 100%;
    }

    &-label {
      font-size: 1rem;
    }

    &-input {
      font-size: 1.2rem;
      min-height: 2rem;
      width: 100%;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &-submit {
      cursor: pointer;
      font-family: "Inconsolata", monospace;
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
    }
  }

  .submit-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
