.credit-card {
  &__visual {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 22px;
    height: 250px;
    position: relative;
    width: 400px;

    &-type {
      font-size: 2.5rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
  }

  &__form {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem;
    &-group {
    }

    &-label {
    }

    &-input {
    }
  }
}
