@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.credit-card-list {
  max-width: 90vw;

  &__head,
  &__body {
    display: grid;
    font-family: "Inconsolata", monospace;
    grid-template-columns: repeat(6, 1fr);
    text-transform: uppercase;
    width: 100%;

    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
    }

    &-th,
    &-td {
      padding: 0.5rem 1rem;
      text-align: center;
    }
  }

  .fas {
    cursor: pointer;
    margin: 0 1rem;
  }

  .fa-trash-alt {
    color: #ff0000;
  }
  .fa-edit {
    color: #0000ff;
  }
}
